.contactsLower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    border-bottom: 1px solid var(--text-color);
    @media (max-width: 954px) {
        height: 100%;
    }
    .contactsLower__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 30vh;
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        @media (max-width: 954px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .contactsLower__left {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 30vh;

            h2 {
                padding-left: 2rem;
                font-size: 2rem;
                color: var(--accent-color);
                margin-bottom: 1rem;
                font-family: 'DancingScript-Bold';
                letter-spacing: 0.2rem;
                text-transform: capitalize;
                width: 100%;
                text-align: left;
                @media (max-width: 954px) {
                    font-size: 1.5rem;
                    width: 100%;
                }
            }

            .contactsLower__left_upp {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid var(--text-color);
            }
        }

        .contactsLower__right {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            height: 30vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: contrast(54%) invert(11%) saturate(90%) sepia(29%);

                @media (max-width: 1450px) {
                    object-position: 30% 45%;
                }

                @media (max-width: 1000px) {
                    -webkit-filter: hue-rotate(0deg);
                    filter: contrast(100%) invert(0%) saturate(100%) sepia(0%);
                }

                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
            }

            &:hover img {
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                -webkit-filter: hue-rotate(0deg);
                filter: contrast(100%) invert(0%) saturate(100%) sepia(0%);
            }
        }
    }
}