.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    @media (max-width: 454px) {
        padding-top: 3rem;
    }
}