.contactUpper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    border-bottom: 1px solid var(--text-color);
    @media (max-width: 454px) {
        height: 100%;
        padding-top: 0;
    }
    @media (max-width: 376px) {
        height: 100%;
        padding-top: 0;
    }
    .contactUpper__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        padding-bottom: 2rem;
        @media (max-width: 454px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .contactUpper__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            padding-left: 2rem;
            @media (max-width: 454px) {
                height: 100%;
                align-content: center;
                
            }
            h2 {
                font-size: 2rem;
                color: var(--accent-color);
                margin-bottom: 1rem;
                font-family: 'DancingScript-Bold';
                letter-spacing: 0.2rem;
                text-transform: capitalize;
                width: 80%;
                text-align: left;
                
            }
        }
        .contactUpper__right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            width: 100%;
            height: 100%;
            @media (max-width: 454px) {
                justify-content: center;
            }
            span {
                padding-right: 1rem;
                font-size: 1.2rem;
                color: var(--title-color);
                font-family: 'Chillax-Medium';
                letter-spacing: 0.1rem;
                text-transform: capitalize;
                @media (max-width: 454px) {
                    font-size: 0.8rem;   
                    padding-left: 2rem;
                }
            }
        }
    }
}