.achievments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.achievments__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;

}

.achievments__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 25vh;
    transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}


.achievments__card:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
    transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}

.achievments__card h1 {
    font-size: 1.5rem;
    font-family: 'Chillax-Medium';
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: var(--nav-overlay-color);
}

.achievments__card p {
    font-size: 1rem;
    font-family: 'Chillax-Medium';
    text-transform: uppercase;
    color: var(--text-color);
}

@media (max-width: 436px) {
    .achievments__container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0.2rem;
    }
    .achievments__card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    .achievments__card p {
        font-size: 0.8rem;
    }
}