.aboutus {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    @media (max-width: 1452px) {
        height: 45vh;
    }
    @media (max-width: 1024px) {
        height: 100%;
        padding-top: 4rem;
    }
    .aboutus__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        padding-bottom: 1rem;
        @media (max-width: 454px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .aboutus__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            padding-left: 2rem;

            h1 {
                font-size: 3rem;
                color: var(--accent-color);
                margin-bottom: 1rem;
                font-family: 'DancingScript-Bold';
                letter-spacing: 0.2rem;
                text-transform: capitalize;
                width: 30%;
                text-align: left;
                @media (max-width: 454px) {
                    font-size: 2rem;
                    width: 100%;
                    padding-top: 2rem;
                }
            }
        }
        .aboutus__right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            width: 100%;
            height: 100%;
            span {
                font-size: 1rem;
                color: var(--title-color);
                font-family: 'Chillax-Medium';
                letter-spacing: 0.1rem;
                text-transform: capitalize;
                margin-bottom: 1rem;
                width: 95%;
                @media (max-width: 454px) {
                    font-size: 0.8rem;

                }
            }
            p {
                font-size: 1rem;
                color: var(--title-color);
                font-family: 'Chillax-Medium';
                letter-spacing: 0.1rem;
                text-transform: capitalize;
                margin-bottom: 1rem;
                width: 95%;
                @media (max-width: 454px) {
                    font-size: 0.8rem;
                    
                }
            }
        }
    }
}