.adminbreakfast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .adminbreakfast__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        h1 {
            padding-top: 6rem;
            font-size: 3rem;
            color: var(--accent-color);
            margin-bottom: 2rem;
            padding-left: 2rem;
            font-family: 'DancingScript-Bold';
            letter-spacing: 0.2rem;
            text-transform: capitalize;
            width: 100%;
            text-align: left;
            @media (max-width: 954px) {
                font-size: 1.5rem;
                width: 100%;
            }
        }
        .adminbreakfast__container__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
            width: 100%;
            height: 100%;
            @media (max-width: 954px) {
                grid-template-columns: 1fr;
                grid-gap: 1rem;
            }
            .adminbreakfast__container__content__item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                padding: 1rem;
                gap: 1rem;
                .content__item_upper {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                    h3 {
                        font-size: 1.5rem;
                        color: var(--accent-color);
                        font-family: 'DancingScript-Bold';
                        text-transform: capitalize;
                        width: 100%;
                        text-align: left;
                        @media (max-width: 954px) {
                            font-size: 1rem;
                            width: 100%;
                        }
                    }
                    .item__upper_lower {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        button {
                            border: none;
                            padding: 0.5rem 1rem;
                            border-radius: 0.5rem;
                            font-size: 1rem;
                            cursor: pointer;
                            font-family: 'Chillax-Medium';
                            transition: all 0.3s ease-in-out;
                        }
                        a {
                            border: none;
                            padding: 0.5rem 1rem;
                            border-radius: 0.5rem;
                            font-size: 1rem;
                            cursor: pointer;
                            font-family: 'Chillax-Medium';
                            transition: all 0.3s ease-in-out;
                        }
                        .delete_btn {
                            background-color: var(--accent-color);
                            color: var(--white-color);
                            &:hover {
                                background-color: var(--white-color);
                                color: var(--accent-color);
                            }
                        }
                        .edit_btn {
                            padding: 0.55rem 1rem;
                            background-color: var(--container-color);
                            color: var(--accent-color);
                            &:hover {
                                background-color: var(--accent-color);
                                color: var(--white-color);
                            }
                        }
                    }
                }
                span {
                    font-size: 1rem;
                    color: var(--title-color);
                    font-family: 'Chillax-Medium';
                    text-transform: capitalize;
                    width: 100%;
                    text-align: left;
                    @media (max-width: 954px) {
                        font-size: 0.8rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}