.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    border-bottom: 1px solid var(--border-color);
}

.home__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.home__left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
}

.home__left-container span {
    font-size: 1.2rem;
    color: var(--text-color);
    font-family: 'Chillax-Medium';
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.home__left-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    position: relative;
    bottom: -3rem;
}


.left-lower-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.left-lower-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--container-color);
    font-family: 'Chillax-Medium';
    letter-spacing: 0.15rem;
}

.home__left h1 {
    font-size: 3rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-family: 'Chillax-Bold';
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.home__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-bottom: 0
}

.home__right-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
}

.home__right-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.right_card-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
}

.right_card-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.right_card-title h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 0.2rem;
    font-family: 'Chillax-Semibold';
    text-transform: uppercase;
}

.hotel {
    background-color: #c77586;
}

.restaurant {
    background-color: #E9A7A1;
}

.cooking {
    background-color: #c77586;
}

.painting {
    background-color: #E9A7A1;
}

.yoga {
    background-color: #c77586;
}

@media (max-width: 436px) {
    .main {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    .home {
        min-height: 127vh;
    }

    .home__container {
        padding-top: 7rem;
        flex-direction: column;

    }

    .home__left h1 {
        font-size: 2.4rem;
    }

    .home__left-container span {
        font-size: 1rem;
    }

    .home__left-lower {
        margin-bottom: 4rem;
        bottom: -1rem;
        width: 100%;
    }

    .home__right-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .yoga {
        display: none;
    }
}

@media (max-width: 419px) {
    .home {
        margin-top: 5rem;
        min-height: 120vh;
    }
}

@media (max-width: 394px) {
    .home {
        margin-top: 5rem;
        min-height: 135vh;
    }
    
}

@media (max-width: 378px) {
    .home {
        margin-top: 5rem;
        min-height: 122vh;
        margin-bottom: 1rem;
    }

    .home__left h1 {
        font-size: 2rem;
    }

    .home__left-container span {
        font-size: 0.8rem;
    }

    .home__left-lower {
        margin-bottom: 4rem;
        bottom: -1rem;
        width: 100%;
    }

    .home__right-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .right_card-title h1 {
        font-size: 1.3rem;
    }

    .yoga {
        display: none;
    }
}