.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    border-bottom: 1px solid var(--border-color);
}

.home__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.home__left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
}

.home__left-container span {
    font-size: 1.2rem;
    color: var(--text-color);
    font-family: 'Chillax-Medium';
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.home__left-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    position: relative;
    bottom: -3rem;
}


.left-lower-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.left-lower-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--container-color);
    font-family: 'Chillax-Medium';
    letter-spacing: 0.15rem;
}

.left-lower-btns .learn-more-btn {
    background-color: #45B5AA;
}

.home__left h1 {
    font-size: 3rem;
    color: var(--accent-color);
    margin-bottom: 1rem;    
    font-family: 'Chillax-Bold';
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.home__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-bottom: 0
}

.home__right-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
}

.home__right-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.right_card-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
}

.right_card-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.right_card-title h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 0.2rem;
    font-family: 'Chillax-Semibold';
    text-transform: uppercase;
}

.hotel {
    background-color: var(--accent-color);
}

.restaurant {
    background-color: #45B5AA;
}

.cooking {
    background-color: #a4b6dd;
}

.painting {
    background-color: #c094cc;
}
.yoga {
    background-color: #FCDDA6;
}