.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 78vh;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    .home__container {
        display: grid;
        grid-template-columns:  1fr 2fr;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        .home__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;    
            .home__left-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding-left: 1.7rem;
                span {
                    font-size: 1rem;
                    color: var(--title-color);
                    font-family: 'Chillax-Medium';
                    letter-spacing: 0.2rem;
                    text-transform: capitalize;
                    margin-bottom: 1rem;
                    width: 95%;
                }
                h1 {
                    font-size: 3rem;
                    color: var(--accent-color);
                    margin-bottom: 1rem;
                    font-family: 'DancingScript-Bold';
                    letter-spacing: 0.2rem;
                    text-transform: capitalize;
 
                }
            }
            .book__now {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: relative;
                bottom: -10rem;
                @media (max-width: 1468px) {
                    bottom: -5rem;
                }
                button {
                    padding: 1rem 2rem;
                    border: 0.5px solid var(--text-color);
                    background-color: transparent;
                    color: var(--title-color);
                    font-family: 'DancingScript-Bold';
                    font-size: 1.2rem;
                    letter-spacing: 0.2rem;
                    text-transform: capitalize;
                    cursor: pointer;
                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }
        }
        .home__right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            img {
                width: 101%;
                height: 100%;
                object-fit: cover;
                -webkit-filter: hue-rotate(304deg);
                filter: contrast(54%) invert(11%) saturate(90%) sepia(29%);

                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);                
            }
            &:hover img {
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);  
                -webkit-filter: hue-rotate(0deg);
                filter: contrast(100%) invert(0%) saturate(100%) sepia(0%); 
            }
        }
    }
}
