.deliveryLower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    border-bottom: 1px solid var(--text-color);

    @media (max-width: 954px) {
        width: 100%;
        height: 100%;
    }

    .deliveryLower__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 40vh;
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);

        @media (max-width: 954px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .deliveryLower__left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            position: relative;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;
                
                li {
                    padding-left: 1rem;
                    width: 100%;
                    border-bottom: 1px solid var(--text-color);
                    &:last-child {
                        border-bottom: none;
                    }

                    @media (max-width: 954px) {
                        &:first-child {
                            padding-top: 2rem;
                        }
                    }
                    h2 {
                        font-size: 1.5rem;
                        color: var(--accent-color);
                        margin-bottom: 1rem;
                        font-family: 'DancingScript-Bold';
                        letter-spacing: 0.2rem;
                        text-transform: capitalize;
                        width: 100%;
                        text-align: left;
                        height: 100%;

                        @media (max-width: 954px) {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .deliveryLower__right {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 40vh;
            position: relative;

            @media (max-width: 954px) {
                height: 30vh;
            }
            .deliveryLower__right-img {
                width: 100%;
                height: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 90%;
                    filter: contrast(54%) invert(11%) saturate(90%) sepia(29%);
                    @media (max-width: 1000px) {
                        -webkit-filter: hue-rotate(0deg);
                        filter: contrast(100%) invert(0%) saturate(100%) sepia(0%);
                    }

                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }

            &:hover img {
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                -webkit-filter: hue-rotate(0deg);
                filter: contrast(100%) invert(0%) saturate(100%) sepia(0%);
            }
        }
    }
}