.nav {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    border: 0.7px solid var(--border-color);
    background-color: var(--background-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.svg {
    display: none;
}

.nav__links {
    position: relative;
    top: 0;
    left: 0;
    width: 94.9%;   
    height: 100%;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 999999;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--container-color);
    padding: 1rem;
}

.nav__links ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    left: 0rem;
    width: 90%;
}

.nav__links ul li {
    list-style: none;
    font-family: 'Lobster';
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav__links ul li a:hover {
    color: var(--accent-color);
}

.nav__links ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: relative;
    z-index: 999999;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 2rem;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--accent-color);
    stroke-width: 2.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.nav__logo h1 {
    font-family: 'Chillax-Bold', cursive;
    font-size: 2rem;
    color: var(--accent-color);
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.nav__middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 999999;
}

.nav__middle ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    left: 0rem;
    width: 100%;
}

.nav__middle ul li {
    list-style: none;
    font-family: 'Chillax-Semibold';
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    text-transform: uppercase;
}

.nav__middle ul li a {
    text-decoration: none;
    color: var(--title-color);
}

.hotel__circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0rem;
}

.restaurant__circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #45B5AA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0rem;
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.nav__right {
    display: flex;
    align-items: center;
}

.nav__right h1 {
    font-family: 'Chillax-Bold';
    font-size: 1.3rem;
    margin-right: 1rem;
    color: var(--accent-color);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

@media (max-width: 455px)  {


    .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0rem;
        position: relative;
        z-index: 999999;
    }
    .nav__logo h1 {
        font-size: 1.5rem;
    }   
    .svg {
        display: block;
        position: relative;
        top: 0rem;
        left: 0rem;
        padding: 1rem;
        cursor: pointer;
    }
    .logo__name {
        display: none;
    }
    .nav__middle ul li {
        list-style: none;
        font-family: 'Chillax-Semibold';
        font-size: 1rem;
    }
}

@media (max-width: 378px) {
    .nav__middle ul li {
        list-style: none;
        font-family: 'Chillax-Semibold';
        font-size: 0.8rem;
    }
    .svg {
        padding: 0;
    }
    .nav {
        width: 105%;
    }
}