.nav {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--background-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);

    .nav-overlay {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 17vh;
        transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
        background-color: var(--accent-color);
    }
    .nav__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%;
        padding: 0rem;
        position: relative;
        z-index: 999999;
        width: 100%;


        .nav__left {
            display: flex;
            align-items: flex-start;
            gap: 1rem;
            justify-content: flex-start;
            align-items: center;
            width: 100.5%;
            height: 100%;
            padding-left: 2rem;
            border-right: 1px solid var(--text-color);
            border-left: 1px solid var(--text-color);

            @media (max-width: 454px) {
                padding-left: 0rem;
            }

            .nav__logo {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                h1 {
                    font-family: 'DancingScript-Bold', cursive;
                    font-size: 2rem;
                    color: var(--accent-color);
                    letter-spacing: 0.3rem;
                    text-transform: capitalize;

                }

                @media (max-width: 454px) {

                    .logo__name {
                        display: none;
                    }

                    .nav__logo_img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1.1rem;
                        width: 100%;
                        height: 0rem;
                        .svg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0.1rem;
                            width: 100%;
                            height: 4rem;
    
                            img {
                                width: 50%;
                                height: 50%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                @media (min-width: 500px) {
                    .svg {
                        display: none;

                    }
                }
            }
        }

        .nav__right {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 999999;
            width: 100%;
            height: 100%;
            border-right: 1px solid var(--text-color);

            @media (max-width: 454px) {
                display: none;

            }

            ul {
                display: flex;
                gap: 5rem;
                width: 100%;

                @media (min-width: 456px) and (max-width: 950px) {
                    gap: 1rem;
                }

                li {
                    list-style: none;
                    font-family: 'DancingScript-Bold';
                    font-size: 1.5rem;
                    color: var(--text-color);
                    cursor: pointer;
                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                    text-transform: capitalize;
                    letter-spacing: 0.1rem;

                    a {
                        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                        text-decoration: none;
                        color: var(--title-color);

                        &:hover {
                            color: var(--accent-color);
                        }
                    }
                }
            }
        }

        .nav__mobile_toggle {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            z-index: 999999;
            right: 0rem;
            border-right: 1px solid var(--text-color);
            @media (min-width: 500px) {
                display: none;
            }
            span {
                font-size: 1.5rem;
                color: var(--text-color);
                cursor: pointer;
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                text-transform: lowercase;
                letter-spacing: 0.1rem;
                position: relative;
                right: -1.5rem;
                font-family: 'DancingScript-Bold';
            }
            .ham {  
                display: flex;
                justify-content: center;
                align-self: center;
                align-items: flex-end;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
                transition: transform 400ms;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                font-size: 2rem;
            }

            .hamRotate.active {
                transform: rotate(45deg);
            }

            .hamRotate180.active {
                transform: rotate(180deg);
            }

            .line {
                fill: none;
                transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
                stroke: var(--accent-color);
                stroke-width: 2.5;
                stroke-linecap: round;
            }
            .line.open {
                stroke: var(--container-color);
            }

            .ham1 .top {
                stroke-dasharray: 40 139;
            }

            .ham1 .bottom {
                stroke-dasharray: 40 180;
            }

            .ham1.active .top {
                stroke-dashoffset: -98px;
            }

            .ham1.active .bottom {
                stroke-dashoffset: -138px;
            }
        }
    }
}