.menuHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    width: 100%;
    @media (max-width: 454px) {
        height: 50vh;
    }
    .menuHome__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        padding-bottom: 1rem;
        @media (max-width: 454px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .menuHome__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            width: 100%;
            padding-left: 2rem;
            h1 {
                font-size: 3rem;
                color: var(--accent-color);
                margin-bottom: 1rem;
                font-family: 'DancingScript-Bold';
                letter-spacing: 0.2rem;
                text-transform: capitalize;
                width: 30%;
                text-align: left;
                @media (max-width: 454px) {
                    font-size: 2rem;
                    width: 100%;
                    padding-top: 2rem;
                }
            }
            .book__now {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                position: relative;
                bottom: -5rem;
                span {
                    padding: 1rem 2rem;
                    border: 0.5px solid var(--text-color);
                    background-color: transparent;
                    color: var(--text-color);
                    font-family: 'Chillax-Medium';
                    font-size: 1rem;
                    letter-spacing: 0.2rem;
                    text-transform: capitalize;
                    cursor: pointer;
                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                    &:hover {
                        background-color: var(--accent-color);
                        color: var(--text-color);
                    }
                }
            }
        }
        .menuHome__right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: relative;

            span {
                font-size: 1rem;
                color: var(--title-color);
                font-family: 'Chillax-Medium';
                letter-spacing: 0.1rem;
                text-transform: capitalize;
                margin-bottom: 1rem;
                width: 95%;
                @media (max-width: 454px) {
                    font-size: 0.8rem;
                }
            }
            p {
                font-size: 1rem;
                color: var(--title-color);
                font-family: 'Chillax-Medium';
                letter-spacing: 0.1rem;
                text-transform: capitalize;
                margin-bottom: 1rem;
                width: 95%;
                @media (max-width: 454px) {
                    font-size: 0.8rem;   
                }
            }
        }
    }
}