.menuArrowsHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid var(--text-color);
    @media (max-width: 954px) {
        height: 30vh;
    }
    @media (max-width: 376px) {
        height: 20vh;
    }
    .menuArrowsHome__container {
        display: grid;
        grid-template-columns: 5fr 1fr;
        justify-content: center;
        place-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-left: 1px solid var(--text-color);
        border-right: 1px solid var(--text-color);
        @media (max-width: 954px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .menuArrowsHome__left {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 2rem;
            img {
                padding: 1rem;
                width: 60%;
                height: 50%;
                object-fit: contain;
            }
            @media (max-width: 454px) {
                display: none;
            }
        }
        .menuArrowsHome__right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            @media (max-width: 954px) {
                justify-content: center;
                padding-bottom: 5rem;
            }
            @media (max-width: 454px) {
                justify-content: center;
            }
            @media (max-width: 406px) {
                padding-bottom: 0;
            }
            span {
                padding-right: 1rem;
                font-size: 1.2rem;
                color: var(--title-color);
                font-family: 'Chillax-Medium';
                letter-spacing: 0.1rem;
                text-transform: capitalize;
                @media (max-width: 406px) {
                    padding-right: 0;
                }
            }
        }
    }
}