.aboutBossLower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid var(--text-color);
    .aboutBossLower__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 20vh;
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        @media (max-width: 454px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .aboutBossLower__left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            height: 20vh;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center 10%;
                -webkit-filter: hue-rotate(304deg);
                filter: contrast(54%) invert(11%) saturate(90%) sepia(29%);
                @media (max-width: 1450px) {
                    object-position: 30% 45%; 
                }
                @media (max-width: 1000px) {
                    -webkit-filter: hue-rotate(0deg);
                filter: contrast(100%) invert(0%) saturate(100%) sepia(0%); 
                }
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);                
            }
            &:hover img {
                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);  
                -webkit-filter: hue-rotate(0deg);
                filter: contrast(100%) invert(0%) saturate(100%) sepia(0%); 
            }
        }
    }
    .aboutBossLower__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 20vh;
        position: relative;
        span {
            font-size: 1.5rem;
            color: var(--title-color);
            margin-bottom: 1rem;
            font-family: 'Chillax-Medium';
            letter-spacing: 0.2rem;
            text-transform: capitalize;
            width: 100%;
            text-align: left;
            padding-left: 2rem;
            @media (max-width: 454px) {
                font-size: 1rem;
            }
        }
    }
}