.aboutBeach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    border-bottom: 1px solid var(--text-color);
    @media (max-width: 454px) {
        width: 100%;
        height: 100%;
    }
    .aboutBeach__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 30vh;
        border-right: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        @media (max-width: 454px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .aboutBeach__left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            height: 30vh;
            position: relative;
            @media (max-width: 454px) {
                height: 20vh;
            }
            h2 {
                font-size: 3rem;
                color: var(--accent-color);
                margin-bottom: 1rem;
                font-family: 'DancingScript-Bold';
                letter-spacing: 0.2rem;
                text-transform: capitalize;
                width: 80%;
                text-align: left;
                @media (max-width: 454px) {
                    font-size: 2rem;
                    width: 100%;
                    padding-top: 2rem;
                    padding-left: 1rem;
                    width: 95%;
                }
            }
        }
        .aboutBeach__right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            height: 30vh;
            position: relative;
            p {
                font-size: 1rem;
                color: var(--title-color);
                margin-bottom: 1rem;
                font-family: 'Chillax-Medium';
                letter-spacing: 0.2rem;
                text-transform: capitalize;
                width: 90%;
                text-align: left;
                padding-left: 2rem;
                @media (max-width: 454px) {
                    font-size: 0.9rem;
                    width: 100%;
                    padding-top: 2rem;
                    padding-left: 1rem;
                }
            }
        }
    }
}